


<section class="email_prompt">

            <h1>Email Sender(To Subscribers)</h1>
            <div class="title_wrap">
                <label for="post_title" class="font-bold mr-[2%]">TITLE </label>
                <input class="post_title" type="text">
            </div>

            <div id="writeEditor" class="w-[50%]"></div>
            <label class="block" for="attachment">Attachment</label>
            <input type="file" name="attachment" id="attachment">
            <div class="dashboard_btn_wrap">
                <button class="email_submit-btn">Submit</button>
            </div>



</section>