section.accessories_contents{
    background-color: #1e1f24;
    color: white;
}

.bg_accessories{
    background-image:linear-gradient(to right, rgba(0,0,0,.8),rgba(0,0,0,.8)), url("../images/accessoriesBg.jpg");
    ;
    padding-top: 100px;
    width: 100%;
    height:250px;
    background-size: cover;

}
.bg_accessories .contents_wrap{
    position:absolute;
    color: white;
    font-size: 25px;
    text-align: center;
    left: 50%;
    top: 50px;
    transform: translate(-50%,-50%);
    animation: slide 1s ease-in-out;
}

.contents_wrap>h1{
    padding-bottom: 20px;
    font-size: 40px;
}

.home_black_box{
    height: 40px;
    background-color: black;
}


.intro{
    opacity: 1;
    font-size: 20px;
    text-align: center;
    padding: 40px 20%;
    animation: fadeIn 3s ease-in-out;
}
.intro b{
    color: #cc181e;
}
.title_wrap{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 20px 40px;
}

/*items */

.items_wrap > .rows{
    display: flex;

}
.rows>*:first-child{
    margin-left: 8%;
}
.rows>*{

    margin: 15px 2%;
    width:25%;
    height: 350px;
    background-color: black;
}


.items>img{
    width: 90%;
    margin: 5% 5%;
    height: 180px;

}

.items>p{
   margin: 3% 3%;
}
.items>h4{
    font-size: 20px;
    margin-left: 15px;
}

.items>a{
    text-align: center;
    font-size: 13px;
    display: block;
    padding: 1% 20px;
    background-color: #cc181e;
    margin: 0 30%;
}
/*items :end */

@keyframes slide {
    from{
    left: -400px;
        opacity: 0;
    }to{
        left: 50%;
    opacity: 1;
         }
}

@keyframes fadeIn {
    from{

        opacity: 0;
    }to{

         opacity: 1;
     }
}



