section:nth-child(2n-1){
    background-color: #1e1f24;
    color: white;

}
section:nth-child(2n){
    background-color:#2a2b32;
    color: white;
}

.con{
    display: flex;
}

section{
    padding: 30px 40px;
}

th, td{
    color: white;
    max-width: 2rem;
    overflow: hidden;
}


/*board */
section.main>h1{
    font-size: 30px;
    padding-bottom: 10px;
}

section>h1{
    font-size: 30px;
    padding-bottom: 20px;
}

/*add item panel*/
select{
    width: 200px;
    padding: .8em .5em;
    border: 1px solid #999;
    font-family: inherit;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #757575;

}

.input_wrap{
    flex-grow: 1;
}

input{
    display: block;
    border: none;
    border-bottom: 1px solid white;
    background-color: #1e1f24;
    width: 300px;
}
label{
    padding: 10px 3px;
}

.submit-btn{
    margin-top: 25px;
    margin-left: 45%;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 10px;
}

.delete_btn{
    padding: 10px 10px;
    font-size: 10px;
    border:  1px solid red;
    border-radius: 5px;
    margin: 3px 3px;
}
.update_btn{
    padding: 10px 10px;
    font-size: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 3px 3px;
}

@media (max-width:413px){
    .con{
        display: block;
    }
 td{
     padding: 0.1rem 0.1rem;
 }
 section{
     padding: 5px 5px;
 }



 tr>th:nth-child(5){
     display: none;
 }
    tr>td:nth-child(5){
        display: none;
    }
}




/*switch css */

.wrapper {
    width: 100%;
    height: 50px;
    /*text-align: center;*/
    margin-top: 10px;
    margin-left: 10px;
}
#switch {
    position: absolute;
    display: none;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}

.switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 10px 10px;
    width: 58px;
    height: 28px;
    background: #fff;
    border: 2px solid #daa;
    border-radius: 20px;
    transition: 0.2s;
}
.switch_label:hover {
    background: #efefef;
}
.onf_btn {
    position: absolute;
    top: 4px;
    left: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #daa;
    transition: 0.2s;
}

/* checking style */
#switch:checked+.switch_label {
    background: #c44;
    border: 2px solid #c44;
}

#switch:checked+.switch_label:hover {
    background: #e55;
}

/* move */
#switch:checked+.switch_label .onf_btn {
    left: 34px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}

.keep_image{
   display: block;

}



/*Text editor section */

.ck-editor__editable_inline {
     min-height: 400px;
     width: 50%;
     color: black;
 }
.ck-sticky-panel__content>.ck-toolbar_grouping{
    margin-left: 20%;
    width: 50%;
    max-width: 50%;
}
.ck.ck-reset, .ck.ck-reset_all, .ck.ck-reset_all *{
    margin: 0 auto;
}
.ck.ck-editor__main>.ck-editor__editable{
    margin: 0 auto;
    overflow: scroll;
    max-height: 500px;
}

.title_wrap{
    width: 50%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}
.post_title{
    background-color: white;
    display: block;
    border: 1px solid gray;
    height: 30px;
    border-radius: 8px;
    width: 90%;
    color: black;
    padding: 5px 10px;
}

.dashboard_btn_wrap{
    width: 50%;
    margin: 10px auto;
}
.submit-btn{
    display: block;
    padding: 10px 20px;
    bordder: 1px solid white;
    border-radius: 10px;

}

h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
}

.title{
    font-size: 30px;
    font-weight: bold;
    margin: 20px auto;
    width: 50%;
    padding: 15px 15px;
    background-color: #4f5050;
    border-radius: 20px;
}

.post{
    border-radius: 20px;
    padding: 30px 30px;
    background-color: #4f5050;
    width: 50%;
    margin: 0 auto;
}

#paypal-donate-button-container{
    width: 100%;
    height: 500px;
}

label,#attachment{

    width: 50%;
    margin: 0 auto;
}

@media (max-width: 768px){
    .title_wrap{ width:100%;}
    .ck-toolbar_grouping{
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
    }
    .ck-editor__editable_inline {
        width: 100%;
        color: black;
    }
    .dashboard_btn_wrap{
        width: 100%;
    }

    .title, .post{
        padding: 5% 2%;
        width: 100%;
    }

    iframe{
        padding: 0;
    }
}
/*Text editor section:end */
