<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainPage.css">
    <link rel="stylesheet" href="/css/aboutUs.css">
    <link rel="stylesheet" href="/bootstrapCSS_v5/bootstrap.css">
    <link rel="stylesheet" href="/bootstrapCSS_v5/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icons8-system-task-16.png">
    <script src="https://kit.fontawesome.com/edff7358ca.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> -->
    <title>Puget Sound Customs</title>
</head>
<body>
{{>parts/header}}

<!-- placeholder section Plz remove onnce contents updated  -->

<section  class="title_section">
    <div class="text_wrap_title">
        <h1>About Us!</h1>
        <div class="about_bar"></div>
        <p>Letting every individual customer experience best performance & reasonable price PC<br>
            for a longest duration as possible is our ultimate goal.</p>
    </div>
</section>



<section  class="Who_We_Are">
<div class="who_title">WHO WE ARE</div>
    <p>
        Puget Sound Customs is a PC company that builds custom PCs
        <br>for gamers, Enthusiasts, and professionals.
    </p>

</div>
</section>

<section class="why_buy">
    
    <div class="why_title">Why Buy from PCS?</div>
    <p>
        As a computer enthusiast, I am passionate about building high-quality, reliable <br>
        systems that meet the specific needs of my customers. I carefully select each<br>
        component to ensure compatibility, performance, and longevity, using only the<br>
        best components from trusted brands. Additionally, I pay close attention to detail <br>
        during the build process, making sure that every connection is secure and that cable<br>
        management is neat and tidy. The result is a custom-built computer that not only look<br>
        great but also per forms exceptionally well and is built to last. With my dedication to<br>
        quality and attention to detail, customers can trust that they are getting a custom <br>
        computer that will meet their needs and exceed their expectations.<br>
    </p>

    </div>

</section>

{{>parts/footer}}

<script src="/js/mainPage.js"></script>
<script src="/js/gamingPage.js"></script>
<script src="/bootstrapJS_v5/bootstrap.bundle.js"></script>
<script src="/bootstrapJS_v5/bootstrap.bundle.min.js"></script>
</body>
</html>